<ul>
  @for (todo of todoList(); track todo.id) {
    <li class="flex flex-row align-top p-2">
      <input
        class="h-5 w-5 text-blue-500 rounded focus:ring-blue-500 mr-2"
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleComplete.emit(todo.id)"
      />
      <div class="flex flex-col">
        <span [ngClass]="{ 'line-through text-gray-300': todo.completed }">
          {{ todo.id }}:
          {{ todo.todo }}
        </span>
        <span class="text-sm text-gray-500 pt-1">
          Due Date: {{ todo.dueDate | date: "short" }}
        </span>
      </div>
    </li>
  }
</ul>
